# Fetching and Listing Datasets from OpenML

This code helps us list all the datasets available through OpenML. It is very handy for loading datasets through sklearn module.

In [19]:
# Import Required Libraries
import openml

In [ ]:
# Fetch the list of datasets from OpenML
datasets = openml.datasets.list_datasets(output_format="dataframe")

datasets.head()

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0

In [18]:
datasets.shape

(6039, 16)

# Loading the dataset using sklearn

We can load the dataset using the entry in the did or the name column

In [ ]:
from sklearn.datasets import fetch_openml

# It is mandatory to provide either the data_id or the name of the dataset
# The data_id can also be found in the URL of the dataset on OpenML
mnist = fetch_openml(data_id=554, parser="auto", as_frame=True)

In [17]:
mnist.keys()

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])